body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightblue;
}

body > header > nav > ul {
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
    
}

body > header {
    display: flex;
    flex-direction: column;
}

body > header > h1 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 40px;
}

#form {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 50px;
}

#requests {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;      
}

#thailand_video {
    display: flex;
    align-items:center;
    padding: 100px;
    flex-direction: column;
}

#images1{
    display: flex;
    justify-content: center;
}

#images2{
    display: flex;
    justify-content: center;
}

.images {
    display: block;
    padding: 30px 30px 30px;
    width: 310px;
    height: 310px;
}

body > h3 {
    display: flex;
    justify-content: center;
}

#footer_container{
    display: flex;
    color: black;
    gap: 2rem;
    background-color: rgb(186, 186, 186);
}

#footer2 {
    background-color: white;
    color: black;
    display: flex;
    font-size: x-small;
    display: flex;
    justify-content: center;
}

#privacy {
    display: flex;  
    gap: 2rem;
    list-style: none;
}

#intro_header {
    display: flex;
    justify-content: center;
}

#inspiration_reference {
    display: flex;
    justify-content: center;
}

.overlay { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;    
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

 .container:hover .overlay {
    opacity: 1;
  }

.overlayText {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .container {
    position: relative;
    width: 23.5%;
  }

  .main_header {
    display: flex;
    align-items: center;
    justify-content: center;
  }